<div id="finance_modal" class="modal_window">
    <form id="tax_calc_form" onsubmit="event.preventDefault();">
        <fieldset id="input_fieldset">
            <table>
            <tr>
                <td class="taxCalcLabel">
                    <label>Salary</label>
                </td>
            </tr>
            <tr>
                <td class="taxCalcField">
                    <input id="salary" type="text"/>
                </td>
            </tr>
            </table>
            <button class="taxCalcBtn" type="submit" onclick="updateFields(this)">Calculate</button>
        </fieldset>
        
        
        <fieldset id="output_fieldset">
            <table>
            <tr>
                <td class="taxCalcLabel">
                    <label>Tax Amount</label>
                </td>
                <td class="taxCalcLabel">
                    <label>Post-Tax Inc.</label>
                </td>
                <td class="taxCalcLabel">
                    <label>Rent (yr)</label>
                </td>
            </tr>
            <tr>
                <td class="taxCalcField">
                    <input id="tax_amt" type="text"/>
                </td>
                <td class="taxCalcField">
                    <input id="inc_after_tax" type="text"/>
                </td>
                <td class="taxCalcField">
                    <input id="rent_alltmnt" type="text"/>
                </td>
            </tr>

            <tr>
                <td class="taxCalcLabel">
                    <label>Income Tax</label>
                </td>
                <td class="taxCalcLabel">
                    <label>401k Amt (yr)</label>
                </td>
                <td class="taxCalcLabel">
                    <label>Rent (mo)</label>
                </td>
            </tr>
            <tr>
                <td class="taxCalcField">
                   <input id="inc_tax" type="text"/>
                </td>
                <td class="taxCalcField">
                    <input id="_401K_amt" type="text"/>
                </td>
                <td class="taxCalcField">
                    <input id="rent_alltmnt_per_month" type="text"/>
                </td>
            </tr>
            </table>
            
        </fieldset>
    </form>
</div>