<section class="footer">
    <!-- time on site reminder -->
    <div id="clock_container">
        <div id="clock"></div>
        <div id="clock_tooltip" onclick="ding.play()"
        title="At 30 minutes, a reminder to get up is played.
        Want to hear what it sounds like?
        Click the question mark!">
        ?
        </div>
    </div>
</section>