<section class="grid_container">
    <div id="read" class="bg1" onclick="showModal(id)">
        <label><h2>Read</h2></label>
        <i class="fas fa-book-reader"></i>
    </div>
    <div id="get_up" class="bg2" onclick="showModal(id)">
        <label><h2>Get Up</h2></label>
        <i class="fas fa-running"></i>
    </div>
    <div id="learn" class="bg1" onclick="showModal(id)">
        <label><h2>Learn</h2></label>
        <i class="fas fa-graduation-cap"></i>
    </div>
    <div id="listen" class="bg1" onclick="showModal(id)">
        <label><h2>Listen</h2></label>
        <i class="fas fa-volume-up"></i>
    </div>
    <div id="make" class="bg2" onclick="showModal(id)">
        <label><h2>Make</h2></label>
        <i class="fas fa-tools"></i>
    </div>
    <div id="memorize" class="bg1" onclick="showModal(id)">
        <label><h2>Memorize</h2></label>
        <i class="far fa-comment-dots"></i>
    </div>
    <div id="solve" class="bg1" onclick="showModal(id)">
        <label><h2>Solve</h2></label>
        <i class="fas fa-puzzle-piece"></i>
    </div>
    <div id="to_do" class="bg2" onclick="showModal(id)">
        <label><h2>To Do</h2></label>
        <i class="fas fa-clipboard-list"></i>
    </div>    
</section>