<div id="learn_modal" class="modal_window">
    <!-- categories -->
    <div class="category language" onclick="showModalForCategory(this)">
        <label>Language</label>
        <i class="fas fa-chevron-right"></i>
    </div>
    <div class="category music" onclick="showModalForCategory(this)">
        <label>Music</label>
        <i class="fas fa-chevron-right"></i>
    </div>

    <!-- links -->
    <!-- language -->
    <div class="category_link language">
        <a href="https://www.spanishdict.com/" target="_blank">Spanish<i class="fas fa-external-link-alt"></i></a>
    </div>

    <!-- music -->
    <div class="category_link music">
        <a href="https://nationalguitaracademy.com/guitar-practice/" target="_blank">Guitar<i class="fas fa-external-link-alt"></i></a>
    </div>

    <div class="category_link music">
        <a href="https://onlinebasscourses.com/lessons/bass-guitar-practice-checklist/" target="_blank">Bass<i class="fas fa-external-link-alt"></i></a>
    </div>
</div>