    <div id="listen_modal" class="modal_window">
        <!-- categories -->
        <div class="category sports" onclick="showModalForCategory(this)">
            <label>Sports</label>
            <i class="fas fa-chevron-right"></i>
        </div>

        <!-- links -->
    </div>