<div id="listen_modal" class="modal_window">
    <div>
        <form id="tax_calc">
            <fieldset>
                <label>Salary</label>
                <br/>
                <input type="text" id="salary"/>
            </fieldset>
            <fieldset>
                <label>Tax Amount</label>
                <br/>
                <input type="text" id="tax_amt" />
                <hr/>
                <label>Income Tax</label>
                <br/>
                <input type="text" id="inc_tax" />
            </fieldset>
        </form>
    </div>
</div>