<div id="memorize_modal" class="modal_window">
    <!-- categories -->
    <div class="category geography" onclick="showModalForCategory(this)">
        <label>Geography</label>
        <i class="fas fa-chevron-right"></i>
    </div>
    <div class="category history" onclick="showModalForCategory(this)">
        <label>History</label>
        <i class="fas fa-chevron-right"></i>
    </div>
    <div class="category science" onclick="showModalForCategory(this)">
        <label>Science</label>
        <i class="fas fa-chevron-right"></i>
    </div>

    <!-- links -->
    <!-- geography -->
    <div class="category_link geography">
        <a href="https://online.seterra.com/en/vgp/3007" target="_blank">European Countries<i class="fas fa-external-link-alt"></i></a>
    </div>
    <div class="category_link geography">
        <a href="https://online.seterra.com/en/vgp/3003" target="_blank">States (U.S.)<i class="fas fa-external-link-alt"></i></a>
    </div>
    <div class="category_link geography">
        <a href="https://online.seterra.com/en/vgp/3063" target="_blank">State Capitals (U.S.)<i class="fas fa-external-link-alt"></i></a>
    </div>

    <!-- science -->
    <div class="category_link science">
        <a href="https://online.seterra.com/en-an/vgp/3801" target="_blank">Anatomy (Organs)<i class="fas fa-external-link-alt"></i></a>
    </div>
    <div class="category_link science">
        <a href="https://online.seterra.com/en-an/vgp/3800" target="_blank">Anatomy (Skeleton)<i class="fas fa-external-link-alt"></i></a>
    </div>
    <div class="category_link science">
        <a href="https://online.seterra.com/en-an/vgp/3829" target="_blank">Periodic Table<i class="fas fa-external-link-alt"></i></a>
    </div>
</div>