<section id="modal">

    <div id="get_up_modal" class="modal_window">
        <!-- categories -->
        <div class="category weight" onclick="showModalForCategory(this)">
            <label>Weights</label>
            <i class="fas fa-chevron-right"></i>
        </div>
        <div class="category calisthenics" onclick="showModalForCategory(this)">
            <label>Calisthenics</label>
            <i class="fas fa-chevron-right"></i>
        </div>
        <div class="category cardio" onclick="showModalForCategory(this)">
            <label>Cardio</label>
            <i class="fas fa-chevron-right"></i>
        </div>
        <div class="category yoga" onclick="showModalForCategory(this)">
            <label>Yoga</label>
            <i class="fas fa-chevron-right"></i>
        </div>
        <div class="category random" onclick="showModalForCategory(this)">
            <label>Random</label>
            <i class="fas fa-chevron-right"></i>
        </div>

        <!-- links -->
        <!-- weight -->
        <div class="exercise weight">
            <section class="center">
                <h3>
                    Click when you are done with <span id="curlReps" class="target_reps"></span> curls
                </h3>
                <button class="addRepsBtn" type="button" onclick="closeModal()">Done</button>
            </section>
            <section class="center">
                <img src="\images\curl.jpg">
            </section>
        </div>

        <!-- calisthenics -->
        <div class="exercise calisthenics">
            <section class="center">
                <div>
                    Click when you are done with <span id="pushUpReps" class="target_reps"></span> push ups
                </div>
                <button class="addRepsBtn" type="button" onclick="closeModal(this)">Done</button>
            </section>
            <section class="center">
                <img src="\images\push_up.jpg">
            </section>
        </div>
        <div class="exercise calisthenics">
            <section class="center">
                <div>
                    Click when you are done with <span id="spidermanCrunchReps" class="target_reps"></span> spiderman crunches
                </div>
                <button class="addRepsBtn" type="button" onclick="closeModal(this)">Done</button>
            </section>
            <section class="center">
                <img src="\images\spiderman_crunch.png">
            </section>
        </div>
        <div class="exercise calisthenics">
            <section class="center">
                <div>
                    Click when you are done with <span id="squatReps" class="target_reps"></span> squats
                </div>
                <button class="addRepsBtn" type="button" onclick="closeModal(this)">Done</button>
            </section>
            <section class="center">
                <img src="\images\squat.png">
            </section>
        </div>

        <!-- yoga -->
        <div class="exercise yoga">
            <section class="center">
                <div>
                    Click when you've held boat pose for <span id="boatPoseHold" class="target_reps"></span> seconds
                </div>
                <button class="addRepsBtn" type="button" onclick="updateCompletedList(this)">Done</button>
            </section>
            <section class="center">
                <img src="\images\boat_pose.jpg">
            </section>
        </div>
    </div>

    <div id="listen_modal" class="modal_window">
        <!-- categories -->
        <div class="category sports" onclick="showModalForCategory(this)">
            <label>Sports</label>
            <i class="fas fa-chevron-right"></i>
        </div>

        <!-- links -->
    </div>

    <div id="memorize_modal" class="modal_window">
        <!-- categories -->
        <div class="category geography" onclick="showModalForCategory(this)">
            <label>Geography</label>
            <i class="fas fa-chevron-right"></i>
        </div>
        <div class="category science" onclick="showModalForCategory(this)">
            <label>Science</label>
            <i class="fas fa-chevron-right"></i>
        </div>
        <div class="category history" onclick="showModalForCategory(this)">
            <label>History</label>
            <i class="fas fa-chevron-right"></i>
        </div>

        <!-- links -->
        <!-- geography -->
        <div class="category_link geography">
            <a href="https://online.seterra.com/en/vgp/3003" target="_blank">(U.S.) States<i class="fas fa-external-link-alt"></i></a>
        </div>
        <div class="category_link geography">
            <a href="https://online.seterra.com/en/vgp/3063" target="_blank">(U.S.) State Capitals<i class="fas fa-external-link-alt"></i></a>
        </div>
        <div class="category_link geography">
            <a href="https://online.seterra.com/en/vgp/3007" target="_blank">European Countries<i class="fas fa-external-link-alt"></i></a>
        </div>

        <!-- science -->
        <div class="category_link science">
            <a href="https://online.seterra.com/en-an/vgp/3829" target="_blank">Periodic Table<i class="fas fa-external-link-alt"></i></a>
        </div>
    </div>

    <div id="solve_modal" class="modal_window">
        <!-- categories -->
        <div class="category sudoku" onclick="showModalForCategory(this)">
            <label>Number Puzzles</label>
            <i class="fas fa-chevron-right"></i>
        </div>

        <!-- links -->
        <!-- number puzzles -->
        <div class="category_link sudoku">
            <a href="https://sudoku.com/" target="_blank">Sudoku<i class="fas fa-external-link-alt"></i></a>
        </div>
        <div class="category_link sudoku">
            <a href="http://www.artbylogic.com/puzzles/numSlider/numberShuffle.htm" target="_blank">Number Slider<i class="fas fa-external-link-alt"></i></a>
        </div>
    </div>

    <div id="to_do_modal" class="modal_window">
        <!-- input task -->
        <div>
            <form action="/db/insert" method="POST">
                <label>What needs done?</label>
                <input class="user_input" type="text" id="task_input" name="task_input" maxlength="60" placeholder="..."><button class="addToListBtn" type="submit" onclick="addTaskToList(this)"><i class="fas fa-plus"></i></button></input>
            </form>
        </div>
        <!-- uncompleted items -->
        <div id="list_container" class="left">
            <label>To Do:</label>
            <hr/>
            <ul id="to_do_list">
                <li>one</li>
                <li>two</li>
                <li>three</li>
                <li>four</li>
                <li>five</li>
                <li>six</li>
                <li>seven</li>
                <li>eight</li>
                <li>nine</li>
                <li>ten</li>
                <li>eleven</li>
                <li>twelve</li>
                <li>thirteen</li>
                <li>fourteen</li>
                <li>fifteen</li>
                <li>sixteen</li>
                <li>seventeen</li>
                <li>eighteen</li>
                <li>nineteen</li>
                <li>twenty</li>
            </ul>
        </div>
    </div>
    
</section>