<section id="sidebar">
    <div id="completed_list">
        <label><h2>Activities completed:</h2></label>
        <div>
            <label><h3>Get Up</h3></label>
            <span id="get_up_completed"></span>
        </div>
        <hr/>
        <div>
            <label><h3>Listen</h3></label>
            <span id="listen_completed"></span>
        </div>
        <hr/>
        <div>
            <label><h3>Memorize</h3></label>
            <span id="memorize_completed"></span>
        </div>
        <hr/>
        <div>
            <label><h3>Solve</h3></label>
            <span id="solve_completed"></span>
        </div>
        <hr/>
    </div>
</section>