<div id="solve_modal" class="modal_window">
    <!-- categories -->
    <div class="category sudoku" onclick="showModalForCategory(this)">
        <label>Number Puzzles</label>
        <i class="fas fa-chevron-right"></i>
    </div>

    <!-- links -->
    <!-- number puzzles -->
    <div class="category_link sudoku">
        <a href="https://sudoku.com/" target="_blank">Sudoku<i class="fas fa-external-link-alt"></i></a>
    </div>
    <div class="category_link sudoku">
        <a href="http://www.artbylogic.com/puzzles/numSlider/numberShuffle.htm" target="_blank">Number Slider<i class="fas fa-external-link-alt"></i></a>
    </div>
</div>