<div id="to_do_modal" class="modal_window">
    <!-- input task -->
    <div>
        <form action="/db/insert" method="POST">
            <label>What needs done?</label>
            <input class="user_input" type="text" id="task_input" name="task_input" maxlength="60" placeholder="..."><button class="addToListBtn" type="submit" onclick="addTaskToList(this)"><i class="fas fa-plus"></i></button></input>
        </form>
    </div>
    <!-- uncompleted items -->
    <div id="list_container" class="left">
        <label>To Do:</label>
        <hr/>
        <ul id="to_do_list">
            <li>one</li>
            <li>two</li>
            <li>three</li>
            <li>four</li>
            <li>five</li>
            <li>six</li>
            <li>seven</li>
            <li>eight</li>
            <li>nine</li>
            <li>ten</li>
            <li>eleven</li>
            <li>twelve</li>
            <li>thirteen</li>
            <li>fourteen</li>
            <li>fifteen</li>
            <li>sixteen</li>
            <li>seventeen</li>
            <li>eighteen</li>
            <li>nineteen</li>
            <li>twenty</li>
        </ul>
    </div>
</div>