<section id="main_container">

    <!-- sidebar section -->
    {{> _sidebar}}

    <!-- grid section -->
    {{> _grid}}

</section>

<!-- modals section -->
{{> _modals}}

<!-- footer section -->
{{> _footer}}

<script type="text/javascript" src="/js/script.js"></script>