<section id="main_container">

    <!-- sidebar section -->
    {{> _sidebar}}

    <!-- grid section -->
    {{> _grid}}

</section>

<!-- modals section -->
<section id="modal">
    {{> _getUpModal}}

    {{> _learnModal}}

    {{> _listenModal}}

    {{> _memorizeModal}}

    {{> _solveModal}}
    
    {{> _toDoModal}}
</section>

<!-- footer section -->
{{> _footer}}

<script type="text/javascript" src="/js/script.js"></script>