.taxCalcBtn {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .15em;
    
    background-color: lightblue;
    border: solid .01em skyblue;
    outline: none;
    
    margin: .5em;
    height: 3em;
    width: 12em;
}

.taxCalcField {
    padding: .2em .25em 1em .25em;
}

#input_fieldset {
    padding: .25em;
    margin: .25em;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

#output_fieldset {
    padding: .25em;
    margin: .25em;

    display: flex;
    flex-direction: row;

    justify-content: center;
}

input {
    outline: none;
}

.taxCalcLabel {
    padding: 1em .25em .2em .25em;
}

#tax_calc_form {
    display: flex;

    padding: .25em;
    margin: .25em;

    align-content: space-between;
}