.modal {
    display: none;
    position: fixed;
    top: 0em;
    left: 0em;

    place-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Noto Sans', sans-serif;
}

.modal_window {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5em;
    padding: 3em;

    position: relative;
    background-color: #efefef;
    margin: auto;
    width: 75%;
    height: 50%;
    font-size: 2em;
}

.modal_window > div {
    flex-direction: row;
    transition: all .2s ease-in-out;
}
.modal_window > div:hover {
    scale: 1.15;
}


#listen_modal {
    display: none;
}

#memorize_modal {
    display: none;
}