#modal {
    display: none;
    position: fixed;
    top: 0em;
    left: 0em;

    place-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Noto Sans', sans-serif;
}

.modal_window {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5em;
    align-items: center;
    justify-items: center;
    
    position: relative;
    background-color: #efefef;
    padding: 3em;
    margin: auto;
    width: 75%;
    height: 50%;
    font-size: 1.5em;
}
.category {
    transition: transform 2s, opacity .25s;
    display: inline;
}
.category_link, .exercise {
    transform: translateX(2em);
    opacity: 0;
    display: none;
}

.exercise {
    display: none;
    grid-template-columns: repeat(2, 1fr);
}

.target_reps {
    color: rgb(202, 92, 1);
}

#read_modal {
    display: none;
}

#get_up_modal {
    display: none;
}

#learn_modal {
    display: none;
}

#listen_modal {
    display: none;
}

#make_modal {
    display: none;
}

#memorize_modal {
    display: none;
}

#solve_modal {
    display: none;
}

#to_do_modal {
    display: none;
}

.modal_window > div > a {
    color: inherit;
    text-decoration-line: none;
}
.modal_window > div > a:hover {
    color: seagreen;
}

.addRepsBtn {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .15em;

    background-color: lightblue;
    border: solid .01em skyblue;

    margin-top: 3em;
    height: 3em;
    width: 12em;
}